In [1]:
import pandas as pd

# Given list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [2]:
given_list = [20, 40, 50, 60, 70, 80, 90]

odd_indexes_elements = given_list[1::2]

series = pd.Series(odd_indexes_elements)

series

0    40
1    60
2    80
dtype: int64

In [3]:
dictionary = {'name': ['Vinay', 'Kushal', 'Aman'],
              'age': [22, 25, 24],
              'occ': ['engineer', 'doctor', 'accountant']}

# Converting dictionary to DataFrame
df = pd.DataFrame(dictionary)

# Displaying DataFrame
df

     name  age         occ
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant

In [4]:
lists = [[2, 'Vishal', 22],
         [1, 'Kushal', 25],
         [1, 'Aman', 24]]

# Converting 2D list to DataFrame
df = pd.DataFrame(lists, columns=['ID', 'Name', 'Age'])

pf

NameError: name 'pf' is not defined

In [5]:
df

   ID    Name  Age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

In [6]:

# Given DataFrame
data = {
    'id': [2, 1, 1],
    'name': ['Vinay', 'Kushal', 'Aman'],
    'age': [22, 25, 24],
    'occ': ['engineer', 'doctor', 'accountant']
}

df = pd.DataFrame(data)

# Selecting a particular column (e.g., 'name')
selected_column = df['age']

# Displaying the selected column
print(selected_column)

0    22
1    25
2    24
Name: age, dtype: int64

In [7]:
import pandas as pd

# Given DataFrame
data = {
    'id': [2, 1, 3, 4, 5, 6],
    'name': ['Vinay', 'Kushal', 'Aman', 'Arun', 'Akhil', 'Arya'],
    'age': [22, 25, 24, 25, 26, 27],
    'occ': ['engineer', 'doctor', 'accountant', 'accountant', 'accountant', 'accountant']
}

df = pd.DataFrame(data)

# Selecting the first two rows
first_two_rows = df.head(2)

# Displaying the first two rows
print(first_two_rows)

   id    name  age       occ
0   2   Vinay   22  engineer
1   1  Kushal   25    doctor

In [ ]:
import pandas as pd

# Load IMDb dataset from CSV
imdb_df = pd.read_csv('imdb_dataset.csv')

# View the top 10 rows of the dataset
top_10_rows = imdb_df.head(10)
print("Top 10 rows of the dataset:")
print(top_10_rows)

# Understand basic information about the dataset
print("\nBasic information about the dataset:")
print(imdb_df.info())

# Inspect the dataframe's columns, shapes, variable types, etc.
print("\nColumns of the dataset:")
print(imdb_df.columns)

print("\nShape of the dataset (rows, columns):")
print(imdb_df.shape)

print("\nVariable types in the dataset:")
print(imdb_df.dtypes)